In [4]:
!Pip install mysql-connector

Collecting mysql-connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=90d8110e58194bfe1e681bfa485683749605996795d7899c41190d66dd97e3f1
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database="class4pm"

)

In [2]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM student")
result =mycursor.fetchall()

for x in result:
    print(x)

(1, 'Bamdev', 'Baitadi', 85, 78, 65, 68, 99, 365, 0, 'A')
(2, 'Ram', 'Kathmandu', 56, 64, 50, 50, 60, 260, 0, 'B')
(3, 'Sita', 'Bara', 50, 50, 50, 50, 50, 250, 0, 'C')
(4, 'Shyam', 'Butwal', 45, 78, 98, 68, 89, 360, 0, 'A')
(5, 'Sangita', 'Kailali', 65, 50, 74, 50, 75, 320, 0, 'B')
(6, 'Anjali', 'Butwal', 78, 84, 75, 90, 65, 380, 0, 'B')
(8, 'Anjali', 'Butwal', 78, 84, 75, 90, 65, 380, 80, 'B')
(9, 'Ganesh', 'Dadeldhura', 74, 85, 69, 74, 85, 387, 77, 'B')
(10, 'Bhawana', 'Darchula', 74, 85, 45, 65, 25, 294, 59, 'c')

In [3]:
sql ="INSERT INTO student(name, address, physics, english, maths, chemistry, computer, total,per, grade)VALUES ('Anjali','Butwal',78,84,75,90,65,380,80,'B')"
mycursor.execute(sql)
mydb.commit()

In [ ]:
n = int(input("Enter the value of n ="))
for i in range(n):
    sn = int(input("Enter sn "))
    name = input("Enter name ")
    address  = input("Enter address ")
    physics = int(input("Enter marks in physics "))
    english = int(input("Enter marks in english "))
    maths = int(input("Enter marks in maths "))
    chemistry = int(input("Enter marks in chemistry "))
    computer = int(input("Enter marks in computer "))
    total = sum([physics,english,maths,chemistry,computer])
    per = total/5
    if per >80:
        grade = "A"
    elif per>60:
        grade = "B"
    elif per>50:
        grade = "C"
        
    else:
        grade = "F"

    sql =f"INSERT INTO student VALUES ({sn},'{name}','{address}',{physics},{english},{maths},{chemistry},{computer},{total},{per},'{grade}')"
    mycursor.execute(sql)
mydb.commit()

Enter the value of n =2
Enter sn 1
Enter name
Enter address kytm\

In [ ]:
import mysql.connector
import xlrd

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database="class4pm"

)
cur = mydb.cursor()
loc = "C:\\Users\\user\\Desktop\\data1.csv"
a = xlrd.open_workbook(loc)
sheet = a.sheet_by_index(0)
sheet.cell_value(0,0)
for i in range(1,8):
    print(tuple(sheet.row_values(i))
mydb.close()