In [ ]:
# a = {}
# b = {<key>:<value>,<key>:<value>}

In [1]:
a = dict()
b = {"a":"Apple","b":"Ball","c":"Cat"}
print(b)
print(type(b))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [ ]:
# Dict
# -Indexed
# -Duplicate values
# -Ordered
# -mutable

In [4]:
b = {"a":"Apple","b":"Ball","c":"Cat"}
print(b["a"])
print(b["b"])
print(b["c"])
print(len(b))

Apple
Ball
Cat
3

In [8]:
b = {"a":"Apple","b":"Ball","c":"Cat","a":"Ant"}
print(b)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [10]:
b = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
print(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [11]:
 a = {}
# a[<key>] = <value>
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
 a = {}
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a["c"] = "Coat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Coat'}

In [14]:
data = {}
n = int(input("Enter the value of n ="))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter name = ")
    data[name]= phone
print(data)

Enter the value of n =2
Enter name = hari
Enter name = 98745899
Enter name = sita
Enter name = 55669874
{'hari ': '98745899', 'sita': '55669874'}

In [17]:
x = {'hari ': '98745899', 'sita': '55669874'}
for i in x:
    print(i)

hari
sita

In [16]:
a = {'hari ': '98745899', 'sita': '55669874'}
for i in a.values():
    print(i)

98745899
55669874

In [1]:
a = {'hari ': '98745899', 'sita': '55669874'}
for i in a.items():
    print(i)

('hari ', '98745899')
('sita', '55669874')

In [2]:
y = [('hari ', '98745899'),('sita', '55669874')]
dict(y)

{'hari ': '98745899', 'sita': '55669874'}

In [2]:
a = {'hari': '98745899', 'sita': '55669874'}
a["hari"] = "9843698544"
print(a)

{'hari': '9843698544', 'sita': '55669874'}

In [3]:
a = {"A":"Apple"}
b = {"B":"Ball"}    #addition cannot be done
c = a+b
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [4]:
a = {1:1,2:4,3:9,4:16}
print(a)

{1: 1, 2: 4, 3: 9, 4: 16}

In [6]:
a = {('hari',"Ram"): '9843698544', 'sita': '55669874'}
a

{('hari', 'Ram'): '9843698544', 'sita': '55669874'}

In [8]:
a = {'Ram':'9867665654', 'Shyam':'9850478569'}
a.clear()
print(a)

{}

In [9]:
a = {'Ram':'9867665654', 'Shyam':'9850478569'}
del a["Ram"]
print(a)

{'Shyam': '9850478569'}

In [10]:
a = {'Ram':'9867665654', 'Shyam':'9850478569'}
a.pop("Shyam")
print(a)

{'Ram': '9867665654'}

In [11]:
#list inside dictionary
a = {'Ram':['9867665654','982123658954'], 'Shyam':['9850478569','9821425863']}
print(a)

{'Ram': ['9867665654', '982123658954'], 'Shyam': ['9850478569', '9821425863']}

In [12]:
data = {}
n = int(input("Enter the value of n ="))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone number = ")
    ncell = input("Enter ncell phone number = ")
    data[name]= [ntc,ncell]
print(data)

Enter the value of n =2
Enter name = Ram
Enter ntc phone number = 985874598
Enter ncell phone number = 982132012
Enter name = Sita
Enter ntc phone number = 98658748
Enter ncell phone number = 9812454858
{'Ram': ['985874598', '982132012'], 'Sita': ['98658748', '9812454858']}

In [13]:
a = {'Ram': ['985874598', '982132012'], 'Sita': ['98658748', '9812454858']}
a["Hari"] = [98439123588,9816879658]
print(a)

{'Ram': ['985874598', '982132012'], 'Sita': ['98658748', '9812454858'], 'Hari': [98439123588, 9816879658]}

In [15]:
data = {}
n = int(input("Enter the value of n ="))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone number = ")
    ncell = input("Enter ncell phone number = ")
    if (len(ntc) == 10) and (len(ncell)==10):
        data[name]= [ntc,ncell]
    else:
        print("Insert valid number")
print(data)

Enter the value of n =2
Enter name = Ram
Enter ntc phone number = 9862499522
Enter ncell phone number = 9845645455
Enter name = Sita
Enter ntc phone number = 9896545454
Enter ncell phone number = 9816253565
{'Ram': ['9862499522', '9845645455'], 'Sita': ['9896545454', '9816253565']}

In [5]:
name = input("Enter name = ")
a = {'Ram': ['985874598', '982132012'], 'Sita': ['98658748', '9812454858'], 'Hari': [98439123588, 9816879658]}
x = int(input("Enter 0 for ntc and 1 for ncell "))
if x == 0:
    print(f"The ntc number of {name}",a[name][0])
elif x==1:
    print(f"The ncell number of {name}",a[name][1])

Enter name = Sita
Enter 0 for ntc and 1 for ncell 1
The ncell number of Sita 9812454858

In [2]:
a = {'Ram': ['985874598', '982132012'], 'Sita': ['98658748', '9812454858'], 'Hari': [98439123588, 9816879658]}
a["Ram"][0] = 9861858759
a["Ram"][1] = 9810253698
a

{'Ram': [9861858759, 9810253698],
 'Sita': ['98658748', '9812454858'],
 'Hari': [98439123588, 9816879658]}

In [1]:
# Dictionary inside list
a = [{'name' : "Ram", "Age":34,"add":"Kathmandu"},
    {'name' : "Shyam", "Age":25,"add":"Bhaktapur"},
    {'name' : "Nabin", "Age":23,"add":"Hetauda"}]
print(a)

[{'name': 'Ram', 'Age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'Age': 25, 'add': 'Bhaktapur'}, {'name': 'Nabin', 'Age': 23, 'add': 'Hetauda'}]

In [2]:
for i in a:
    print(i)

{'name': 'Ram', 'Age': 34, 'add': 'Kathmandu'}
{'name': 'Shyam', 'Age': 25, 'add': 'Bhaktapur'}
{'name': 'Nabin', 'Age': 23, 'add': 'Hetauda'}

In [4]:
data = []
n = int(input("Enter the value of n ="))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter address = ")
    info = {"name":name,"age":age,"add":add}
    data.append(info)
print(data)

Enter the value of n =2
Enter name = hari
Enter age = 45
Enter address = bara
Enter name = sita
Enter age = 40
Enter address = bara
[{'name': 'hari', 'age': '45', 'add': 'bara'}, {'name': 'sita', 'age': '40', 'add': 'bara'}]

In [5]:
a = [{'name': 'hari', 'age': '45', 'add': 'bara'}, {'name': 'sita', 'age': '40', 'add': 'bara'}]
print(a[0]['name'])

hari

In [7]:
a = [{'name': 'hari', 'age': '45', 'add': 'bara'}, {'name': 'sita', 'age': '40', 'add': 'bara'}]
a[0]['name'] = "Ram Prasad"
a

[{'name': 'Ram Prasad', 'age': '45', 'add': 'bara'},
 {'name': 'sita', 'age': '40', 'add': 'bara'}]

In [9]:
#dictionary inside dictionary
a = {1:{"name":"Sita","age":25,"add":"Kathmandu"},
    2:{"name":"Gita","age":23,"add":"Hetauda"}}
a

{1: {'name': 'Sita', 'age': 25, 'add': 'Kathmandu'},
 2: {'name': 'Gita', 'age': 23, 'add': 'Hetauda'}}

In [10]:
a[1]

{'name': 'Sita', 'age': 25, 'add': 'Kathmandu'}

In [11]:
a[1]['name']

'Sita'

In [12]:
a[3] = {"name":"Ram","age":25,"add":"Lalitpur"}
a

{1: {'name': 'Sita', 'age': 25, 'add': 'Kathmandu'},
 2: {'name': 'Gita', 'age': 23, 'add': 'Hetauda'},
 3: {'name': 'Ram', 'age': 25, 'add': 'Lalitpur'}}

In [13]:
data = {}
n = int(input("Enter the value of n ="))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter address = ")
    data[i] = {"name":name,"age":age,"add":add}
print(data)

Enter the value of n =2
Enter name = Ram
Enter age = 25
Enter address = ktm
Enter name = hari
Enter age = 25
Enter address = nepal
{1: {'name': 'Ram', 'age': '25', 'add': 'ktm'}, 2: {'name': 'hari', 'age': '25', 'add': 'nepal'}}