In [ ]:
#python collections
#List
#Tuple
#Dictionary
#Set

In [ ]:
#List
# - Indexed
# -Ordered
# -Duplicate Members
# -Mutable

In [1]:
a = ["Apple", "Ball"]
b = [1,2,3,4,5]
print(a)
print(b)
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [2]:
print(len(a))
print(len(b))

2
5

In [3]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0])

Apple

In [4]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [6]:
a = ["Apple","Ball","Cat","Dog"]
b = ["Dog","Cat"]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Dog', 'Cat']

In [2]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    print(i,end=" ")

Apple Ball Cat Dog Fish

In [8]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    if i == "Cat":
        break
    print(i)

Apple
Ball

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    if i == "Cat":
        continue
    print(i)

Apple
Ball
Dog
Fish

In [5]:
names = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name =")
 #   names = names + [name]
    names.append(name)
print(names)

Enter n = 2
Enter name =Ram
Enter name =Hari
['Ram', 'Hari']

In [1]:
num = list()
n = int(input("Enter n = "))
for i in range(n):
    number = int(input("Enter number ="))
 #   num = num + [number]
    num.append(number)
print(num)

Enter n = 4
Enter number =5
Enter number =8
Enter number =8
Enter number =7
[5, 8, 8, 7]

In [3]:
print("Sum of number is =",sum(num))
print("The maximum value = ",max(num))
print("The minimum value =",min(num))
num.sort()
print(num)
num.reverse()
print(num)

Sum of number is = 28
The maximum value =  8
The minimum value = 5
[5, 7, 8, 8]
[8, 8, 7, 5]

In [12]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
a.sort()
print(a)

['Akash', 'Hari', 'Mina', 'Sangita', 'Shyam', 'Sita']

In [13]:
#insert()
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
a.insert(1,"Bamdev")
a

['Hari', 'Bamdev', 'Sita', 'Akash', 'Shyam', 'Mina', 'Sangita']

In [14]:
#extend
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Hari', 'Sita', 'Akash', 'Shyam', 'Mina', 'Sangita', 1, 2, 3, 4, 5]

In [15]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
a[1]="Laxmi"
a

['Hari', 'Laxmi', 'Akash', 'Shyam', 'Mina', 'Sangita']

In [19]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
a[0:2]=["Laxmi","Ram"]
a

['Laxmi', 'Ram', 'Akash', 'Shyam', 'Mina', 'Sangita']

In [18]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
b = [1,2,3,4,5]
x = [a[0]]
c = x+b+a[1:]
c

['Hari', 1, 2, 3, 4, 5, 'Sita', 'Akash', 'Shyam', 'Mina', 'Sangita']

In [20]:
#del mremove() pop()
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
del a[0]
print(a)

['Sita', 'Akash', 'Shyam', 'Mina', 'Sangita']

In [22]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
del a[0:5]
print(a)

['Sangita']

In [23]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita"]
a.remove("Akash")
print(a)

['Hari', 'Sita', 'Shyam', 'Mina', 'Sangita']

In [24]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita","Akash"]
a.remove("Akash")
print(a)

['Hari', 'Sita', 'Shyam', 'Mina', 'Sangita', 'Akash']

In [26]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita","Akash"]
for i in a:
    if i == "Akash":
        a.remove("Akash")
print(a)

['Hari', 'Sita', 'Shyam', 'Mina', 'Sangita']

In [27]:
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita","Akash"]
for i in range(len(a)):
    if a[i] == "Akash":
        print(i)

2
6

In [29]:
#pop()
a = ["Hari","Sita","Akash","Shyam","Mina","Sangita","Akash"]
b = a.pop(3)
print(a)
print(b)

['Hari', 'Sita', 'Akash', 'Mina', 'Sangita', 'Akash']
Shyam

In [1]:
name = ["Nabin","Mahesh","Ganesh","Bamdev","Kirt","Shiv","Shrawan"]
name.sort()
print(name)

['Bamdev', 'Ganesh', 'Kirt', 'Mahesh', 'Nabin', 'Shiv', 'Shrawan']

In [4]:
name = ["Nabin","Mahesh","Ganesh","Bamdev","Kirt","Shiv","Shrawan"]
name.append("Sangita")
print(name)

['Nabin', 'Mahesh', 'Ganesh', 'Bamdev', 'Kirt', 'Shiv', 'Shrawan', 'Sangita']

In [5]:
# list inside list
a = [[1,2,3],[4,5,6],[7,8,9]]
print(type(a))

<class 'list'>

In [8]:
a = [["Ram",35,"Kathmandu"],
     ["Shyam",34,"Bhaktapur"],
     ["Siva",23,"Patan"]]
print(a[0])
print(a[0:2])

['Ram', 35, 'Kathmandu']
[['Ram', 35, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [10]:
b = [['Ram', 35, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
c = [["Nabin",56,"Bara"]]
d = b+c
print(d)

[['Ram', 35, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], ['Nabin', 56, 'Bara']]

In [11]:
b = [['Ram', 35, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
c = [["Nabin",56,"Bara"]]
b.append(c)
b

[['Ram', 35, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], [['Nabin', 56, 'Bara']]]

In [1]:
data = []
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = [name,age,add]
    data.append(info)
print(data)

Enter n =2
Enter name = Bamdev
Enter age = 23
Enter address = Kailali
Enter name = Mahesh
Enter age = 23
Enter address = Darchula
[['Bamdev ', 23, 'Kailali'], ['Mahesh', 23, 'Darchula']]

In [14]:
a = [['Ram', 22, 'Kathmandu'], ['hari', 55, 'Bhaktapur']]
name = input("Enter name =")
for i in a:
    if name in i:
        print(i)

Enter name =Ram
['Ram', 22, 'Kathmandu']

In [16]:
a = [['Ram', 22, 'Kathmandu'], ['Hari', 55, 'Bhaktapur']]
name = input("Enter name =")
for i in range(len(a)):
    if name in a[i]:
        print(i)

Enter name =hari
1

In [20]:
a = [['Ram', 22, 'Kathmandu'],
     ['Hari', 55, 'Bhaktapur']]
a[0][0] = "Ram Prasad"
a[0][2] = "Lalitpur"
print(a)

[['Ram Prasad', 22, 'Lalitpur'], ['Hari', 55, 'Bhaktapur']]

In [21]:
a = [['Ram', 22, 'Kathmandu'],
     ['Hari', 55, 'Bhaktapur']]
a[0] = ["Rama",44,"Kathmandu"]
a

[['Rama', 44, 'Kathmandu'], ['Hari', 55, 'Bhaktapur']]

In [22]:
a = [['Ram', 22, 'Kathmandu'],
     ['Hari', 55, 'Bhaktapur']]
del a[0][0]
print(a)

[[22, 'Kathmandu'], ['Hari', 55, 'Bhaktapur']]

In [25]:
a = [['Ram', 22, 'Kathmandu'],
     ['Hari', 55, 'Bhaktapur']]
a.remove(a[1])
print(a)

[['Ram', 22, 'Kathmandu']]

In [29]:
s = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    info = f"{name} {price} {quantity} {total}"
    s = s+ " " + info +"\n"
    
print("product Price Quantity Total\n")
print(s,"\n")

Enter n =2
Enter product name = momo
Enter price = 100
Enter quantity = 1
Enter product name = tea
Enter price = 100
Enter quantity = 4
product Price Quantity Total

 momo 100 1 100
 tea 100 4 400

In [32]:
bill = []
data = s.split('\n')[:-1]
for i in data:
    bill.append(i.split())
bill

[['momo', '100', '1', '100'], ['tea', '100', '4', '400']]

In [2]:
bill = []
s = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    info = f"{name} {price} {quantity} {total}"
    s = s+ " " + info +"\n"
print("product Price Quantity Total\n")
print(s,"\n")  

data = s.split('\n')[:-1]
for i in data:
    bill.append(i.split())
bill

Enter n =2
Enter product name = momo
Enter price = 100
Enter quantity = 5
Enter product name = tea
Enter price = 20
Enter quantity = 5
product Price Quantity Total

 momo 100 5 500
 tea 20 5 100

[['momo', '100', '5', '500'], ['tea', '20', '5', '100']]

In [1]:
result = []
s = " "
n = int(input("Enter n ="))
for i in range(n):
    name = input('Enter student name \n')
    java = float(input('Enter marks of java: '))
    webtech = float(input('Enter marks of web technology: '))
    maths = float(input('Enter marks of maths: '))
    os = float(input('Enter marks of operating system: '))
    toc = float(input('Enter marks of theory of computation: '))

    avg = (java + webtech + maths + os + toc)/5


    print('The percentage is =',avg)

    if avg>=80:
        grade = 'A'
    elif avg>=60:
         grade = 'B'
    elif avg>=50:
         grade = 'C'
    else:
         grade = 'F'

    info = f"{name}  {java} {webtech} {maths} {os} {toc} {avg} {grade}"
    s = s + " " + info +"\n"
#print("Name Java Webtech Maths Operating_System Theory_of_computation Percentage Grade\n")
print(s)

data = s.split('\n')[:-1]
for i in data:
    result.append(i.split())
print(result)

Enter n =2
Enter student name
Ram
Enter marks of java: 78
Enter marks of web technology: 85
Enter marks of maths: 96
Enter marks of operating system: 47
Enter marks of theory of computation: 78
The percentage is = 76.8
Enter student name
Sita
Enter marks of java: 74
Enter marks of web technology: 85
Enter marks of maths: 69
Enter marks of operating system: 78
Enter marks of theory of computation: 98
The percentage is = 80.8
  Ram  78.0 85.0 96.0 47.0 78.0 76.8 B
 Sita  74.0 85.0 69.0 78.0 98.0 80.8 A

[['Ram', '78.0', '85.0', '96.0', '47.0', '78.0', '76.8', 'B'], ['Sita', '74.0', '85.0', '69.0', '78.0', '98.0', '80.8', 'A']]