In [4]:
def greet(name):
    print("Hello",name)
    print("How are you?")
greet("Nabin")

Hello Nabin
How are you?

In [14]:
#function to find average marks

def find_average_marks(marks):
    sum_of_marks = sum(marks)
    total_subjects = len(marks)
    average_marks = sum_of_marks/total_subjects
    return average_marks

#function to calculate grade and return it

def compute_grade(average_marks):
    if average_marks>=80:
        grade = 'A'
    elif average_marks>=60:
        grade = 'B'
    elif average_marks>=50:
        grade = 'C'
    else:
        grade = 'F'
    return grade


marks = [75 ,78,76,70,80]
average_marks = find_average_marks(marks)
grade = compute_grade(average_marks)
print("Your average marks is ",average_marks)
print("Your grade is ",grade)

Your average marks is  75.8
Your grade is  B

In [15]:
input("What is your name?")

What is your name?Nabin Bhatta

'Nabin Bhatta'

In [1]:
x = 5
if x<10:
    print("x is smaller ")
else:
    print("x is grater")

x is smaller

In [2]:
a = int(input("Enter first number ="))
b = int(input("Enter second number ="))
sum = a+b
diff = a-b
mul = a*b
div = a//b
mod = a%b
print("the sum is ",sum)
print("The difference is ",diff)
print("The multiplication is ",mul)
print("The division is ",div)
print("The modulus is ",mod)

Enter first number =100
Enter second number =50
the sum is  150
The difference is  50
The multiplication is  5000
The division is  2
The modulus is  0

In [5]:
a = "Nabin"
print(a[0:5])

Nabin

In [8]:
a = 2.3

b = 3.7
sum = a+b
print(sum)

6.0

In [23]:
name = input("Enter your name ")
print("Hello",name)

Enter your name Nabin
Hello Nabin

In [19]:
marks = [45,56,85,94,78,54,89,89,65,59]
marks.sort()
print(marks)

[45, 54, 56, 59, 65, 78, 85, 89, 89, 94]

In [28]:
a = int(input("Enter first number ="))
b = int(input("Enter second number = "))
c = int(input("Enter third number = "))
if (a>b) & (a>c):
    print("The greatest number is ",a)
elif (b>c) & (b>a):
    print("The greatest number is ",b)
else:
    print("The greates number is ",c)

Enter first number =55
Enter second number = 80
Enter third number = 777
The greates number is  777

In [29]:
def hello():
    print("Hello world!")
hello()

Hello world!

In [33]:
import math as m
print(m.pi)

3.141592653589793

In [34]:
m.factorial(9)

362880

In [35]:
#find the area and volume
def cal(l,b,h):
    a = l*b
    v = a*h
    return a,v

l = int(input("Enter l ="))
b = int(input("Entr b = "))
h = int(input("Enter h = "))
x = cal(l,b,h)
print(x)
area,volume = x
print("The area=",area)
print("The volume = ",volume)

Enter l =7
Entr b = 8
Enter h = 9
(56, 504)
The area= 56
The volume =  504

In [41]:
# Program to add natural
# numbers up to 
# sum = 1+2+3+...+n

n = int(input("Enter n: "))

sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    

print("The sum is", sum)

Enter n: 100
The sum is 5050

In [44]:
# Program to illustrate a loop with condition in the middle. 
# Take input from the user until a vowel is entered

vowels = "aeiouAEIOU"

# infinite loop
while True:
    v = input("Enter a vowel: ")
   # condition in the middle
    if v in vowels:
        break
    print("That is not a vowel. Try again!")

print("Thank you!")

Enter a vowel: q
That is not a vowel. Try again!
Enter a vowel: v
That is not a vowel. Try again!
Enter a vowel: u
Thank you!

In [46]:
# Program to find the sum of all numbers stored in a list


numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

sum = 0

for value in numbers:
    sum = sum+value

print("The sum is", sum)

The sum is 48

In [53]:
# program to display student's marks from record
student_name = 'James'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print('The marks of ',student_name ,marks[student])
        break
else:
    print('No entry with that name found.')

The marks of  James 90

In [54]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

In [56]:
c = 1 # global variable
    
def add():
    global c
    c = c + 2 # increment c by 2
    print(c)

add()

3

In [6]:
# This program adds two numbers

num1 = 1.5
num2 = 6.3

# Add two numbers
sum = num1 + num2

# Display the sum
print("The sum is", sum)

The sum is 7.8

In [13]:
# Python Program to calculate the square root

num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

Enter a number: 81
The square root of 81.000 is 9.000

In [12]:
# Python Program to find the area of triangle


a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))

# semi-perimeter
s = (a + b + c) / 2

#  area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter first side: 8
Enter second side: 7
Enter third side: 7
The area of the triangle is 22.98

In [24]:
# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
   
    choice = input("Enter choice(1/2/3/4): ")

   
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
      
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
            break
    
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 99
Enter second number: 89
99.0 + 89.0 = 188.0
Let's do next calculation? (yes/no): yes
Enter choice(1/2/3/4): 4
Enter first number: 90
Enter second number: 89
90.0 / 89.0 = 1.0112359550561798
Let's do next calculation? (yes/no): no

In [1]:
s = " "
n = int(input("Enter n ="))
for i in range(n):
    name = input('Enter student name \n')
    java = float(input('Enter marks of java: '))
    webtech = float(input('Enter marks of web technology: '))
    maths = float(input('Enter marks of maths: '))
    os = float(input('Enter marks of operating system: '))
    toc = float(input('Enter marks of theory of computation: '))

    avg = (java + webtech + maths + os + toc)/5


    print('The percentage is =',avg)

    if avg>=80:
        grade = 'A'
    elif avg>=60:
         grade = 'B'
    elif avg>=50:
         grade = 'C'
    else:
         grade = 'F'

    info = f"{name}  {java} {webtech} {maths} {os} {toc} {avg} {grade}"
    s = s + " " + info +"\n"
#print("Name Java Webtech Maths Operating_System Theory_of_computation Percentage Grade\n")
print(s)

Enter n =2
Enter student name
nabin
Enter marks of java: 78
Enter marks of web technology: 87
Enter marks of maths: 88
Enter marks of operating system: 96
Enter marks of theory of computation: 98
The percentage is = 89.4
Enter student name
hari
Enter marks of java: 74
Enter marks of web technology: 85
Enter marks of maths: 96
Enter marks of operating system: 74
Enter marks of theory of computation: 78
The percentage is = 81.4
  nabin  78.0 87.0 88.0 96.0 98.0 89.4 A
 hari  74.0 85.0 96.0 74.0 78.0 81.4 A

In [5]:
result = []
s = " "
n = int(input("Enter number of record you want "))
for i in range(n):
    name = input("Enter student name = ")
    physics = float(input("Enter marks of physics = "))
    chemistry = float(input("Enter marks of chemistry = "))
    maths = float(input("Enter marks of maths = "))
    computer = float(input("Enter marks of computer = "))
    english = float(input("Enter marks of english = "))
    total = physics+chemistry+maths+computer+english
    per = total/5
    print("your percentage is ",per)
    
    
    if per>=80:
        grade = 'A'
    elif per>=60:
        grade = 'B'
    elif per>=50:
        grade = 'C'
    else:
        grade = 'F'
        
    info = f"{name} {physics} {chemistry} {maths} {computer} {english} {grade}"
    s = s + " " +info + "\n"
print(s)

data = s.split('\n')[:-1]
for i in data:
    result.append(i.split())
print(result)

Enter number of record you want 2
Enter student name = hari
Enter marks of physics = 78
Enter marks of chemistry = 47
Enter marks of maths = 85
Enter marks of computer = 95
Enter marks of english = 56
your percentage is  72.2
Enter student name = sita
Enter marks of physics = 45
Enter marks of chemistry = 63
Enter marks of maths = 62
Enter marks of computer = 98
Enter marks of english = 78
your percentage is  69.2
  hari  78.0 47.0 85.0 95.0 56.0 B
 sita 45.0 63.0 62.0 98.0 78.0 B

[['hari', '78.0', '47.0', '85.0', '95.0', '56.0', 'B'], ['sita', '45.0', '63.0', '62.0', '98.0', '78.0', 'B']]

In [6]:
l = int(input("Enter l = "))  #global variables 
b = int(input("Enter b = "))  #global variables
def cal():
   
    a = l*b
    print(a)
    
cal()

Enter l = 9
Enter b = 7
63

In [8]:
#Function with argument
def area(l,b):
    a = l *b
    print(a)

l = int(input("Enter the value of l = "))
b = int(input("Enter the value of b = " ))

area(l,b)

Enter the value of l = 9
Enter the value of b = 9
81

In [3]:
def info():
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    details = name + " " + str(age)+ " " + address
    print(details)
info()

Enter name = nabin
Enter age = 24
Enter address = Baitadi
nabin 24 Baitadi

In [4]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [5]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2022-03-06 11:53:54

In [17]:
for i in range(4):    
    for j in range(4):
        print(' # ',end = "")
    print()

 #  #  #  #
 #  #  #  #
 #  #  #  #
 #  #  #  #

In [18]:
for i in range(4):    
    for j in range(i+1):
        print(' # ',end = "")
    print()

 #
 #  #
 #  #  #
 #  #  #  #

In [19]:
for i in range(4):    
    for j in range(4-i):
        print(' # ',end = "")
    print()

 #  #  #  #
 #  #  #
 #  #
 #

In [24]:
string = input("Enter the string: ")
length = len(string)
for i in range(length):
    
    for j in range(i+1):
        print(string[j],end="")
    print()

Enter the string: Python
P
Py
Pyt
Pyth
Pytho
Python

In [32]:
n = int(input("Enter number of rows:"))
num = 1
for i in range(1,n+1):     #for row
    for j in range(1,i+1): #for column
        print(num , end=' ')
        num += 1
    print( )

Enter number of rows:9
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45

In [33]:
n = int(input("Enter the number of rows:"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end="")
    print()

Enter the number of rows:5
55555
4444
333
22
1

In [34]:
n = int(input("Enter the number of rows:"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end="")
    print()

Enter the number of rows:5
12345
1234
123
12
1

In [2]:
data = {}
n = int(input("Enter how many records you want keep "))
for i in range(n):
    name = input("Enter name =")
    ntc = input("Enter ntc number = ")
    ncell = input("Enter ncell number = ")
    data[name] = [ntc,ncell]
print(data)

Enter how many records you want keep 3
Enter name =Nabin
Enter ntc number = 9843912388
Enter ncell number = 9810658960
Enter name =Bamdev
Enter ntc number = 9865879685
Enter ncell number = 9802365978
Enter name =Ganesh
Enter ntc number = 98421569455
Enter ncell number = 981036854796
{'Nabin': ['9843912388', '9810658960'], 'Bamdev': ['9865879685', '9802365978'], 'Ganesh': ['98421569455', '981036854796']}

In [3]:
a = {'Nabin': ['9843912388', '9810658960'], 'Bamdev': ['9865879685', '9802365978'], 'Ganesh': ['98421569455', '981036854796']}
a['Mahesh'] = ['9868475965','98123569874']
print(a)

{'Nabin': ['9843912388', '9810658960'], 'Bamdev': ['9865879685', '9802365978'], 'Ganesh': ['98421569455', '981036854796'], 'Mahesh': ['9868475965', '98123569874']}

In [4]:
name = input("Enter name = ")
a = {'Nabin': ['9843912388', '9810658960'], 'Bamdev': ['9865879685', '9802365978'], 'Ganesh': ['98421569455', '981036854796']}
x = int(input("Enter 0 for ntc and 1 for ncell :"))
if x == 0:
    print(f"The ntc number of {name}",a[name][0])
elif x==1:
    print(f"The ncell number of {name}",a[name][1])

Enter name = Nabin
Enter 0 for ntc and 1 for ncell :1
The ncell number of Nabin 9810658960

In [10]:
result = {}
n = int(input("Enter how many records "))
for i in range(n):
    name = input("Enter name = ")
    java = int(input("Enter marks in java = "))
    webtech = int(input("Enter marks in web techonology = "))
    os = int(input("Enter marks in operating system = "))
    maths = int(input("Enter marks in maths = "))
    compiler = int(input("Enter marks in compiler design ="))
    result[name] = [java,webtech,os,maths,compiler]
print(result)

Enter how many records 2
Enter name = Ram
Enter marks in java = 58
Enter marks in web techonology = 69
Enter marks in operating system = 49
Enter marks in maths = 98
Enter marks in compiler design =75
Enter name = Sita
Enter marks in java = 74
Enter marks in web techonology = 85
Enter marks in operating system = 94
Enter marks in maths = 76
Enter marks in compiler design =59
{'Ram': [58, 69, 49, 98, 75], 'Sita': [74, 85, 94, 76, 59]}

In [16]:
data = {1:'Nabin',2:'Kiran',4:'Harsh'}
print(type(data))

<class 'dict'>