In [ ]:
# create database
import mysql.connector

database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "")
db = database.cursor()
db.execute("CREATE DATABASE pythons")

In [ ]:
#create a table
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "pythons")
db = database.cursor()
db.execute("CREATE  TABLE profile(name VARCHAR(255),address VARCHAR(255))")

In [ ]:
# insert into table
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database="pythons"

)

mycursor = mydb.cursor()

sql = "INSERT INTO profile (name, address) VALUES('Ram','kathmandu')"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
# select 
mycursor.execute("SELECT * FROM profile")
result =mycursor.fetchall()

for x in result:
    print(x)

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database="pythons"

)

mycursor = mydb.cursor()

sql = "INSERT INTO profile (name, address) VALUES('sita','Butwal')"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database="pythons"

)

mycursor = mydb.cursor()

sql = "INSERT INTO profile (name, address) VALUES(%s,%s)"
val = [('Kirt','Khodpe'),
      ('Mahesh','India'),]

mycursor.executemany(sql,val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
import mysql.connector

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="pythons"
)

db = database.cursor()

sql = "DELETE FROM profile WHERE address = 'Butwal' "

db.execute(sql)

database.commit()

print(db.rowcount, "record(s) deleted")

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database="pythons"

)

mycursor = mydb.cursor()

sql = "INSERT INTO profile (name, address) VALUES(%s,%s)"
val = [('Shiv','Patan'),
      ('Hemanta','Khotang'),]

mycursor.executemany(sql,val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
import mysql.connector
db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="pythons"
)
mycursor = db.cursor()
sql = "UPDATE profile SET address = 'Kathmandu' WHERE address = 'Khodpe'"
mycursor.execute(sql)
db.commit()
print(mycursor.rowcount, "record(s) affected")

In [ ]:
import mysql.connector

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="pythons"
)

db = database.cursor()

sql = "DELETE FROM profile WHERE name = 'Mahesh' "

db.execute(sql)

database.commit()

print(db.rowcount, "record(s) deleted")

In [ ]:
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "pythons")
db = database.cursor()
sql = "INSERT INTO profile(name,address) VALUES ('Mahesh','Darchula')"
db.execute(sql)
database.commit()
print(db.rowcount, "record(s) inserted")

In [ ]:
class Robot:
    def introduce_self(self):
        print("My name is " + self.name)

In [ ]:
r1 = Robot()
r1.name = "Nabin"
r1.color = "Blue"
r1.weight = 53

r2 = Robot()
r2.name = "Priyanka"
r2.color = "yellow"
r2.weight = 45

In [ ]:
r1.introduce_self()
r2.introduce_self()

In [5]:
class Robot:
    def __int__(self, name,color,weight):
        self.name = name
        self.color = color
        self.weight = weight
    @classmethod
    def introduce_self(self):
        print("My name is " + self.name)

In [6]:
r1 = Robot("Nabin","Blue",53)
r2 = Robot("Priyanka","Yellow",42)
r1.introduce_self()

TypeError: Robot() takes no arguments

In [8]:
class Computer:
    def config(self):
        print("Hello")
comp1 = Computer()
comp2 = Computer()

comp1.config()
comp2.config()

Hello
Hello

In [2]:
class Computer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
   

    def intro(self):
        print(f"Name is { self.name} Age is {self.age}")
comp1 = Computer("nabin",23)
comp2 = Computer("hari",22)

comp1.intro()
comp2.intro()

Name is nabin Age is 23
Name is hari Age is 22

In [9]:
class Computer:
    
    def __init__(self):
        self.name = "Navin"
        self.age = 23
        
    def update(self):
        self.age = 24
    
c1 = Computer()
c2 = Computer()
c1.name = 'Sita'
c1.age = 22
c1.update()
print(c1.name,c1.age)
print(c2.name,c2.age)

Sita 24
Navin 23

In [22]:
class Computer:
    
    def __init__(self):
        self.name = "Navin"
        self.age = 23
        
    def update(self):
        self.age = 24
        
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False
c1 = Computer()
c1.age = 24
c2 = Computer()
if c1.compare(c2):
    print("They are same")
else:
    print("They are different")
print(c1.name,c1.age)
print(c2.name,c2.age)

They are different
Navin 24
Navin 23

In [28]:
class Car:
    
    wheels = 4
    
    def __init__(self):
        self.mil = 10
        self.com = "BMW"
        
c1 = Car()
c2 = Car()

c1.mil = 11

Car.wheels = 5

print(c1.com, c1.mil,c1.wheels)
print(c2.com,c2.mil,c2.wheels)

BMW 11 5
BMW 10 5

In [11]:
class Student:
    school = "FWU"
    def __init__(self,m1,m2,m3,m4,m5):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
        self.m4 = m4
        self.m5 = m5
        
    def avg(self):
        return(self.m1+self.m2+self.m3+self.m4+self.m5)/5
    
#     def get_m1(self):
#             return self.m1
#     def set_m1(self,value):
#         self.m1 = value
        
    @classmethod   
    def getSchool(cls):
        return cls.school 
    @staticmethod
    def info():
        print("This is student class ")
        
        
        
s1 = Student(78,85,96,78,77)
s2 = Student(47,85,69,58,47)

print(s1.avg())
print(s2.avg())
# print(s1.get_m1())
print(Student.getSchool())
Student.info()

82.8
61.2
FWU
This is student class

In [23]:
#inner class
class Student:
    
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
        self.lap = self.Laptop
        
    def show(self):
        print(self.name,self.rollno)
        self.lap.show()
        
    class Laptop:
        
        def __init__(self):
            self.brand = "Lenovo"
            self.cpu = "i5"
            self.ram = 4
        
        def show(self):
            print(self.brand, self.cpu, self.ram)
            
            
s1 = Student('Nabin',7)
s2 = Student('Bamdev',9)
s1.show()

Nabin 7

TypeError: show() missing 1 required positional argument: 'self'

In [24]:
class A:
    def feature1(self):
        print("Feature 1 working")
        
    def feature2(self):
        print("Feature 2 working")
        
class B(A):
    def feature3(self):
        print("Feature 3 working")
        
    def feature4(self):
        print("Feature 4 working")
class C(B):
    def feature5(self):
        print("Feature 5 is working")
a1 = A()

a1.feature1()
a1.feature2()

b1 = B()
b1.feature1()
b1.feature4()
c1 = C()
c1.feature1()

Feature 1 working
Feature 2 working
Feature 1 working
Feature 4 working
Feature 1 working

In [25]:
class Parrot:

    # class attribute
    species = "bird"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age

# instantiate the Parrot class
blu = Parrot("Blu", 10)
woo = Parrot("Woo", 15)

# access the class attributes
print("Blu is a {}".format(blu.__class__.species))
print("Woo is also a {}".format(woo.__class__.species))

# access the instance attributes
print("{} is {} years old".format( blu.name, blu.age))
print("{} is {} years old".format( woo.name, woo.age))

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

In [26]:
class Parrot:
    
    # instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    # instance method
    def sing(self, song):
        return "{} sings {}".format(self.name, song)

    def dance(self):
        return "{} is now dancing".format(self.name)

# instantiate the object
blu = Parrot("Blu", 10)

# call our instance methods
print(blu.sing("'Happy'"))
print(blu.dance())

Blu sings 'Happy'
Blu is now dancing

In [27]:
# parent class
class Bird:
    
    def __init__(self):
        print("Bird is ready")

    def whoisThis(self):
        print("Bird")

    def swim(self):
        print("Swim faster")

# child class
class Penguin(Bird):

    def __init__(self):
        # call super() function
        super().__init__()
        print("Penguin is ready")

    def whoisThis(self):
        print("Penguin")

    def run(self):
        print("Run faster")

peggy = Penguin()
peggy.whoisThis()
peggy.swim()
peggy.run()

Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster

In [36]:
class Computer:

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

# change the price
c.__maxprice = 1000
c.sell()

# using setter function
c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000

In [2]:
class Parrot:

    def fly(self):
        print("Parrot can fly")
    
    def swim(self):
        print("Parrot can't swim")

class Penguin:

    def fly(self):
        print("Penguin can't fly")
    
    def swim(self):
        print("Penguin can swim")

# common interface
def flying_test(bird):
    bird.fly()
def swimming_test(bird):
    bird.swim()

#instantiate objects
blu = Parrot()
peggy = Penguin()

# passing the object
flying_test(blu)
flying_test(peggy)
swimming_test(blu)
swimming_test(peggy)

Parrot can fly
Penguin can't fly
Parrot can't swim
Penguin can swim

In [42]:
a = '5'
b = '6'

print(a+b)

print(str.__add__(a,b))

56
56

In [45]:
class Student:
    def __init__(self,m1,m2):
        self.m1 = m1
        self.m2 = m2
        
    def __add__(self,other):
        m1 = self.m1 + other.m1
        m2 = self.m2 + other.m2
        s3 = Student(m1,m2)
        return s3
        
s1 = Student(58,69)
s2 = Student(60,65)
s3 = s1+s2   #-> Student.__add__(s1,s2)
print(s3.m1)

118

In [5]:
#mehod overloading
class Student:
#     def __init__(self,m1,m2):
#         self.m1 = m1
#         self.m2 = m2
    def sum(self,a=None,b=None,c= None):
        s = 0
        if a!=None and b!=None and c!=None:
            s = a+b+c
        elif a!=None and b!=None:
            s = a + b
        else:
            s = a
            
        return s

s1 = Student()
print(s1.sum(7,9,9))

25

In [57]:
#overridding
class A:
    
    def show(self):
        print("in A show")

        
class B(A):
    def show(self):
        print("in B show")


a1 = B()
a1.show()

in B show

In [1]:

class Polygon:
    def __init__(self, sides,name):
        self.sides = sides 
        self.name = name
    
        
square = Polygon(4,"Square")
pentagon = Polygon(5,"Pentagon")

print(square.sides)
print(square.name)
print(pentagon.sides)
print(pentagon.name)

4
Square
5
Pentagon

In [5]:
# name , age,level,salary
class SoftwareEngineer:
    #class attribute
    alias = "Keyboard Magician"
    def __init__(self,name,age,level,salary):
        #instance attributes
        self.name = name
        self.age = age
        self.level = level 
        self.salary = salary
        

se1 = SoftwareEngineer('Bamdev',22,'Junior',5000)
print(se1.name, se1.age,se1.level,se1.salary)
# print(se1.alias)
se2 = SoftwareEngineer('Ganesh',23,'Junior',5000)
print(se2.name, se2.age,se2.level,se2.salary)

Bamdev 22 Junior 5000
Ganesh 23 Junior 5000

In [10]:
class SoftwareEngineer:
    #class attribute
    alias = "Keyboard Magician"
    def __init__(self,name,age,level,salary):
        #instance attributes
        self.name = name
        self.age = age
        self.level = level 
        self.salary = salary
        
    def code(self):
        print(f"{self.name} is writing code...")
        
    def code_in_language(self,language):
                print(f"{self.name} is writing code {language}...")
    
    def information(self):
        information = f"name ={self.name},age = {self.age},level = {self.level},salary = {self.salary}"
        return information
    
    def __str__(self):
        information = f"name ={self.name},age = {self.age},level = {self.level},salary = {self.salary}"
        return information
#     def __eq__(self,other):
#         return self.name == other.name and self.age == other.age
    
se1 = SoftwareEngineer('Bamdev',22,'Junior',5000)
se2 = SoftwareEngineer('Bamdev',22,'Junior',5000)
# se1.code()
se1.code_in_language("Java")
print(se1.information())
# print(se1)

# print(se1==se2)

name =Bamdev,age = 22,level = Junior,salary = 5000

In [13]:
class Employee:
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
    def work(self):
        print(f"{self.name} is working")

class SoftwareEngineer(Employee):
    def __init__(self,name,age,salary,level):
        super().__init__(name,age,salary)
        self.level = level
        
    def debug(self):
        print(f"{self.name} is debugging...")
        
class Designer(Employee):
    def working(self):
        print(f"{self.name} is drawing..")

se = SoftwareEngineer("Nabin",23,10000,"Junior")

se.work()
se.debug()
d = Designer("Karuna",22,7000,"Junior")
d.working()

Nabin is working
Nabin is debugging...

TypeError: __init__() takes 4 positional arguments but 5 were given

In [2]:
class employee:
    def __init__(self, name, sal):
        self.__name=name  # private attribute 
        self.__salary=sal # private attribute
# defining class Employee
class Office:
    def __init__(self, name, sal):
        self.__name = name    # private attribute 
        self.__sal = sal      # private attribute
emp = Office("Bill", 10000)
emp.__sal

AttributeError: 'Office' object has no attribute '__sal'

In [6]:
class employee:
    def __init__(self, name, sal):
        self._name=name  # protected attribute 
        self._salary=sal # protected attribute
class Office:
    def __init__(self, name, sal):
        self._name = name   # protected attribute 
        self._sal = sal     # protected attribute
emp = Office("John", 10000)
emp._sal

10000

In [1]:
class School:
    def __init__(self):
        self.faculty = input("Enter your faculty ")

class Student(School):
    def __init__(self):
        self._name = input("Enter your name ")
        self.grade = int(input("Enter your class "))
        self.__age = int(input("Enter your age "))
        
    def grade(self):
        print(f"{self.name}.you study in {self.grade}. I am {self.age} years old")

stu = Student()

Enter your name Hari
Enter your class 12
Enter your age 23