In [1]:
#imutable datatype
a = "Hello World!"
print(type(a))

<class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [3]:
a = "Hello World"
print(a[0:5])

Hello

In [4]:
a = "Hello World"
print(a[0:6:2])

Hlo

In [6]:
a = "Hello World"
l = len(a)
print(l)
print(a[l::-1])

11
dlroW olleH

In [7]:
a = "Hello World"
l = len(a)
print(a[l-1])

d

In [9]:
for i in a:
    print(i, end="")

Hello World

In [5]:
#string formatting
s = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone= ")
    info = name + " "  +phone
    s = s+ " " + info +"\n"

print(s)

Enter n =2
Enter name = hari
Enter phone= 547888
Enter name = ram
Enter phone= 47888
 hari  547888
 ram 47888

In [8]:

name = "ram"
age = 25
address = "Kathmandu"

x = "Hello I am "+name+"I am from "+address+"I am "+str(age)
print(x)
y = f"Hello I am {name}. I am from {address}. I am {age}"  #string formatting
print(y)

Hello I am ramI am from KathmanduI am 25
Hello I am ram. I am from Kathmandu. I am 25

In [9]:
s = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone= ")
    info = f"{name} {phone}\n"
    s = s+ info

print(s)

Enter n =2
Enter name = ram
Enter phone= 9843912388
Enter name = hari
Enter phone= 9862499522
ram 9843912388
hari 9862499522

In [12]:
s = ""
all_total = 0
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    info = f"{name} {price} {quantity} {total}"
    s = s+ " " + info +"\n"
    all_total = all_total+total
print("product Price Quantity Total\n")
print(s,"\n")
print("All total =",all_total)

Enter n =2
Enter product name = momo
Enter price = 200
Enter quantity = 5
Enter product name = coke
Enter price = 45
Enter quantity = 5
product Price Quantity Total

 momo 200 5 1000
 coke 45 5 225


All total = 1225

In [19]:
#replace()
a = "Ram Shyam Hari Sita Gita"
print(a.replace("Ram","RAM"))
print(a)

RAM Shyam Hari Sita Gita
Ram Shyam Hari Sita Gita

In [16]:
a = "Ram Shyam Hari Sita Gita"
a = a.replace("Ram","RAM")
print(a)

RAM Shyam Hari Sita Gita

In [14]:
a = "Ram Shyam Hari Sita Gita"
a.replace("Ram","")

' Shyam Hari Sita Gita'

In [23]:
#search
a = "Ram Shyam Hari Sita Gita Ram"
name = input("Enter name = ")
if name in a:
    print("Yes",a.count(name))

Enter name = Ram
Yes 2

In [26]:
a = "Ram Shyam Hari Sita Gita Ram"
name = "ram"
print(name.lower())
print(a.upper())
print(a.lower())

ram
RAM SHYAM HARI SITA GITA RAM
ram shyam hari sita gita ram

In [22]:
a = "Ram Shyam Hari Sita Gita"
a.count("Ram")

1

In [27]:
name = "Ram Shyam Hari Sita Gita"
name[1].upper()

'A'

In [1]:
name = "Ram Shyam Hari Sita Gita"
x = name[1].upper()
y = name[0]
z = name[2:]
final = y+x+z
final

'RAm Shyam Hari Sita Gita'

In [3]:
name = "Ram Shyam Hari Sita Gita"
for i in name :
    name = name.replace("a","A")
name

'RAm ShyAm HAri SitA GitA'

In [4]:
name = "Ram Shyam Hari Sita Gita"
name = name.replace("a","A")
name

'RAm ShyAm HAri SitA GitA'

In [ ]:
s = " "
n = int(input("Enter n ="))
for i in range(n):
    name = input('Enter student name ')
    english = float(input('Enter marks of english: '))
    science = float(input('Enter marks of science: '))
    maths = float(input('Enter marks of maths: '))
    computer = float(input('Enter marks of computer: '))
    social = float(input('Enter marks of social: '))

    avg = (english + science + maths + computer + social)/5


    print('The percentage is = %0.2f'%avg)

    if avg>=80:
        grade = 'A'
    elif avg>=60:
         grade = 'B'
    elif avg>=50:
         grade = 'C'
    else:
         grade = 'F'
    details = f"{name}\n {english} {science} {maths} {computer} {social} {avg} {grade}"
   # info = f"{name}  your grade is {grade}\n"
    s = s + " " + details +"\n"
print("Name English Science Maths Computer Social Percentage Grade\n")
print(s)