In [ ]:
# Tuple 
# - Indexed
# - Multiple data
# - Ordered
# - Imutable

In [1]:
a = ("Apple","Ball","Cat")
print(type(a))
print(a)

<class 'tuple'>
('Apple', 'Ball', 'Cat')

In [2]:
a = ("Apple","Ball","Cat")
print(a[0])

Apple

In [4]:
a = (1,2,3,4,5,6,7,8,9,10)
print(a[0:4])
print(a[0:9:2])

(1, 2, 3, 4)
(1, 3, 5, 7, 9)

In [5]:
a = ("Apple","Ball","Cat")
b = ("Dog","Fish")
c = a+b
c

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [6]:
a = ("Apple","Ball","Cat")
print(a*2)

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [7]:
a = ("Apple",)
print(type(a))

<class 'tuple'>

In [8]:
a = ("Apple")
print(type(a))

<class 'str'>

In [ ]:
#No append() extend() insert() update() del remove pop()

In [9]:
t = tuple()
n = int(input("Enter n ="))
for i in range(n):
    x = input("Enter x =")
    t = t + (x,)
print(t)

Enter n =2
Enter x =hello
Enter x =world
('hello', 'world')

In [10]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
list(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [11]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
tuple(a)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [12]:
a = (123,345,667,342,123,563,999)
print("Sum = ",sum(a))
print("Maximum value = ",max(a))
print("Minimum value =",min(a))

Sum =  3162
Maximum value =  999
Minimum value = 123

In [13]:
a = (123,345,667,342,123,563,999)
sorted(a)

[123, 123, 342, 345, 563, 667, 999]

In [14]:
a = [123,345,667,342,123,563,999]
print(sorted(a))
a

[123, 123, 342, 345, 563, 667, 999]

[123, 345, 667, 342, 123, 563, 999]

In [15]:
a = 1,2,3,4,5,6,7,8,9
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [17]:
a = [123,345,667,342,123,563,999]
a.sort()
a

[123, 123, 342, 345, 563, 667, 999]

In [18]:
def cal():
    l =5
    b=6
    h= 9
    a = l*b
    v = a*h
    return a,v
print(cal())

(30, 270)

In [19]:
#remove item form tuple
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
b = a[0:2]
c = a[3:]
d = b +c
print(d)

('Apple', 'Ball', 'Dog', 'Fish')

In [20]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
b = a[0:3]
c = a[3:]
d = ('cat',)
r = b +d +c
r

('Apple', 'Ball', 'Cat', 'cat', 'Dog', 'Fish')

In [2]:
t  = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age =")
    add = input("Enter address = ")
    t = t + (name,age,add,)
print(t)

Enter n = 2
Enter name = Ganesh Pant
Enter age =23
Enter address = Dadeldhura
Enter name = Bamdev Bhatta
Enter age =23
Enter address = Kailai
('Ganesh Pant', '23', 'Dadeldhura', 'Bamdev Bhatta', '23', 'Kailai')

In [3]:
#tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
print(type(a))

<class 'tuple'>

In [5]:
a = (("Ram", 24,"Kathmandu"),("Shyam",34,"Patan"),("Hari",45,"Bara"))
print(a[0])

('Ram', 24, 'Kathmandu')

In [6]:
for i in a:
    print(i)

('Ram', 24, 'Kathmandu')
('Shyam', 34, 'Patan')
('Hari', 45, 'Bara')

In [7]:
a = (("Ram", 24,"Kathmandu"),("Shyam",34,"Patan"),("Hari",45,"Bara"))
for i in a:
    if "Ram" in i :
        print(i)

('Ram', 24, 'Kathmandu')

In [6]:
info = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name :")
    age = input("Enter age :")
    add = input("Enter address :")
    info = info + ((name,age,add),)
print(info)

Enter n = 5
Enter name :ram
Enter age :25
Enter address :ktm
Enter name :hari
Enter age :22
Enter address :btd
Enter name :shyam
Enter age :22
Enter address :bara
Enter name :ganesh
Enter age :24
Enter address :ddl
Enter name :nabin
Enter age :24
Enter address :n=ep
(('ram', '25', 'ktm'), ('hari', '22', 'btd'), ('shyam', '22', 'bara'), ('ganesh', '24', 'ddl'), ('nabin', '24', 'n=ep'))

In [3]:
a = (('Ram', '24', 'Kathmandu'), ('Sita', '22', 'Patan'))
b = list(a)
b

[('Ram', '24', 'Kathmandu'), ('Sita', '22', 'Patan')]

In [5]:
b = list()
a = (('Ram', '24', 'Kathmandu'), ('Sita', '22', 'Patan'))
for i in a:
    b.append(list(i))
print(b)

[['Ram', '24', 'Kathmandu'], ['Sita', '22', 'Patan']]

In [1]:
# write a program to create a matrix using list inside list and tuple inside tuple
matrix = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(3):
    for j in range(3):
        print(matrix[i][j],end = ' ')
    print()

1 2 3
4 5 6
7 8 9

In [13]:
# input matrix using list
row = int(input("Enter rows ="))
col = int(input("Enter columns = "))
matrix = []

for i in range(row):
    temp = []
    for j in range(col):
        a = int(input("Enter elements "))
        temp.append(a)
    matrix.append(temp)
for i in range(row):
    for j in range(col):
        print(matrix[i][j],end = ' ')
    print()

Enter rows =3
Enter columns = 3
Enter elements 4
Enter elements 5
Enter elements 7
Enter elements 8
Enter elements 9
Enter elements 6
Enter elements 8
Enter elements 9
Enter elements 1
4 5 7
8 9 6
8 9 1